@model IEnumerable<Kheti.Models.Category>
@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "Index";
}
<style>
    .table{
        font-size:smaller;
    }
   
</style>

<div class="container">
    <h6>Product Categories</h6>

    <p class="text-end">
        <a class="btn btn-primary btn-sm text-white" asp-action="CreateCategory" asp-controller="Admin">Create</a>
    </p>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-sm btn-primary" asp-action="EditCategory" asp-controller="Admin" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-sm btn-danger" asp-action="DeleteCategory" asp-controller="Admin" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
