@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kheti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://khalti.com/api/v2/kpg/js/khalti-checkout.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 centered-navbar">
            <div class="container-fluid">
                <img src="~/Images/KhetiLogo/khetiLogo.png" height="40px" width="150px" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav align-content-center justify-content-center flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Index">Machinery</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole(StaticDetail.SellerRole)))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    More
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.IsInRole(StaticDetail.SellerRole))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">AddProduct</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Consultation" asp-action="CreateQuery">Submit Query</a>
                                        </li>

                                    }
                                    @if (User.IsInRole(StaticDetail.ExpertRole) || User.IsInRole(StaticDetail.SellerRole))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Consultation" asp-action="QueryList">Query</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="CreateReport">Report</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole(StaticDetail.ExpertRole)))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Consultation" asp-action="QueryList">Query</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="CreateReport">Report</a>
                            </li>
                        }

                        @if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="CreateReport">Report</a>
                            </li>
                        }
                        @*   <li class="nav-item">
                        <a class="nav-link" id="about-nav" href="#about">About Us</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="about-nav" href="#service">Services</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="about-nav" href="#contactUs">Contact</a>
                        </li> *@

                    </ul>
                    <partial name="_loginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <partial name="_Notification" />
        @RenderBody()
    </main>

    <footer style="background-color:#fafafa" class="footer border-top text-muted">
        <div class="container mt-4 mb-0">
            <div class="">
                <p class="text-center"> &copy; 2024 - Kheti - <a class="text-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        var toastEl = document.querySelector('.toast');
        var toast = new bootstrap.Toast(toastEl);
        toast.show();
    </script>

</body>
</html>
