@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    .login_signup_btn {
        display: flex;
        gap: 1rem;
        margin-right: 10px;
    }

        .login_signup_btn a:hover {
            color: darkgray;
        }

    .signup_btn {
        color: green;
        background-color: #ffffff;
        padding: 0.3rem 1.5rem;
        border: 1px solid green;
        border-radius: 5px;
    }

        .signup_btn a {
            text-decoration: none;
        }

    .login_btn {
        background-color: #099462;
        color: white;
        padding: 0.3rem 1.5rem;
        border: 1px solid green;
        border-radius: 5px;
        margin-right: 0rem;
    }

        .login_btn a {
            color: white;
            text-decoration: none;
        }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @* Dropdown Section *@
        <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @if (@ViewData["ProfilePictureUrl"] != null)
                {
                    <img src="~/@ViewData["ProfilePictureUrl"]" height="40px" width="40px" class="rounded-circle" />
                }
                else
                {
                    <img src="~/Images/DefaultImages/defaultUserImage.jpg" height="50px" width="50px" class="rounded-circle" />
                }
                Hi @ViewData["FirstName"] 
            </a>
            <ul style="font-size:small" class="dropdown-menu dropdown-menu-success" aria-labelledby="navbarDarkDropdownMenuLink">

                <li class="nav-item">
                    <a id="manage" class="nav-link text-secondary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bi bi-person fs-5 ms-2 me-2"></i> Manage! </a>
                </li>
                @if (User.IsInRole(StaticDetail.CustomerRole))
                {
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Order" asp-action="OrderList"><i class="bi bi-postcard ms-2 me-2"></i>My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Order" asp-action="ReviewList"><i class="bi bi-star ms-2 me-2"></i>My Review</a>
                    </li>
                }

                @if (User.IsInRole(StaticDetail.SellerRole))
                {
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Order" asp-action="SellerOrderList"><i class="bi bi-postcard ms-2 me-2"></i>Order History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Order" asp-action="ReviewList"><i class="bi bi-star ms-2 me-2"></i>My Review</a>
                    </li>
                }


                @if (User.IsInRole(StaticDetail.CustomerRole) || (User.IsInRole(StaticDetail.SellerRole) || User.IsInRole(StaticDetail.AdminRole)))
                {
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Customer" asp-action="FavoriteListing"><i class="bi bi-heart ms-2 me-2"></i> Favorite </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Rental" asp-action="RequestList"><i class="bi bi-card-list ms-2 me-2"></i>Request</a>
                    </li>
                }


                @if (User.IsInRole(StaticDetail.AdminRole))
                {
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Index"><i class="bi bi-person-gear ms-2 me-2"></i> AdminPanel</a>
                    </li>

                }
           
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-secondary border-0"><i class="bi bi-box-arrow-left ms-2 me-2"></i> Logout</button>
                    </form>
                </li>


            </ul>
        </li>

        @if (User.IsInRole(StaticDetail.CustomerRole) || User.IsInRole(StaticDetail.AdminRole))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"> <i class="fs-4 bi bi-cart-dash-fill"></i></a>
            </li>
        }
    }
    else
    {
        <section class="login_signup_btn">
            <li class="nav-item">
                <a class="signup_btn nav-item text-decoration-none" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="login_btn nav-item text-decoration-none" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </section>
    }
</ul>
