@model Kheti.Models.KhetiApplicationUser

@{
    ViewData["Title"] = "Edit User Information";
}

<link rel="stylesheet" href="/css/EditUserInformation.css" />

<p class="text-secondary mt-5">welcome to your profile,@Model.FirstName.</p>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="container-fluid main-div">
        <div class="row p-2">
            <div class="col-md-3">
                @if (Model.ProfilePictureURL == null)
                {
                    <i style="font-size:150px" class="bi bi-person-square ms-2"></i>
                    <div class="form-group d-flex flex-wrap gap-2">
                        <input type="file" id="profilePicture" name="profilePicture" style="font-size:xx-small" class="form-control w-50">
                        <button asp-action="uploadProfile" asp-route-id="@Model.Id" type="submit" class="btn btn-sm btn-secondary" style="font-size:xx-small;border-radius:10px">Upload</button>
                    </div>
                }
                else
                {
                    <img src="~/@Model.ProfilePictureURL" class="m-3 user-image img-fluid" />
                    <div class="form-group d-flex flex-column flex-wrap gap-2 text-center">
                        <input type="file" id="profilePicture" name="profilePicture" style="font-size:xx-small" class="form-control">
                        <button asp-action="updateProfilePicture" asp-route-id="@Model.Id" type="submit" class="btn btn-secondary" style="font-size:xx-small;border-radius:10px">Update</button>
                    </div>
                }

            </div>

            <div class="col-md-4">
                <input type="hidden" asp-for="Id" />                
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="PhoneNumber" />

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="District" class="control-label"></label>
                    <input asp-for="District" class="form-control" placeholder="e.g. sunsari" />
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <input type="hidden" asp-for="Id" />                
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="PhoneNumber" />

                <div class="form-group">
                    <label asp-for="LocalAddress" class="control-label"></label>
                    <input asp-for="LocalAddress" class="form-control" placeholder="e.g. Milan Tole" />
                    <span asp-validation-for="LocalAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="province" class="control-label"></label>
                    <select asp-for="province" class="form-select">
                        <option disabled selected>Select</option>
                        <option>Koshi</option>
                        <option>Bagmati</option>
                        <option>Gandaki</option>
                        <option>Lumbini</option>
                        <option>Karnali</option>
                        <option>Sudurpaschim</option>
                    </select>

                    <span asp-validation-for="province" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AdditionalPhoneNumber" class="control-label"></label>
                    <input asp-for="AdditionalPhoneNumber" class="form-control" placeholder="additional phone (if any)" />
                    <span asp-validation-for="AdditionalPhoneNumber" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn mt-4 w-100 purple-background text-white">Save</button>
                </div>
            </div>


        </div>
    </div>
    <p class="text-success mt-1">You can Update your information above!</p>
</form>


