@model Kheti.Models.Product

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />

<div class="row d-flex justify-content-center mb-4">
    <div class="col-md-7 bg-light create-form">
        <div class="d-flex gap-2 align-items-center justify-content-between">
            <div>
                <h6 class="text-success">Add a new product</h6>
            </div>
            <div>
                <div class="rounded-2 ms-3" id="imagePreview"></div>
            </div>
        </div>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <input asp-for="CreatedDate" hidden />
            <input asp-for="UserId" type="hidden" />

            <div class="form-group mt-2">
                <label asp-for="CategoryId" class="control-label"></label>
                <select id="CategoryId" title="categoryId" asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryList">
                    <option disabled selected>Select category</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ProductImageUrl" class="control-label"></label>
                <input type="file" id="profilePicture" name="imageFile" class="form-control" onchange="ImagePreview(event)">
                @* <input asp-for=ProductImageUrl type="file" name="imageFile" class="form-control" /> *@
                <span asp-validation-for="ProductImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="IsInStock" class="control-label"></label>
                <select id="stockId" title="InStock?" asp-for="IsInStock" class="form-select">
                    <option disabled selected>Select stock availbility</option>
                    <option>@StaticDetail.IsInStockStatus</option>
                    <option>@StaticDetail.OutOfStockStatus</option>
                    <option></option>
                </select>
            </div>


            @* Rental Information Section *@
            <div class="form-group mt-2" id="rentalFields" style="display: none;">

                <label asp-for="RentalEquipment.RentalDuration" class="control-label"></label>
                <input asp-for="RentalEquipment.RentalDuration" class="form-control" />
                <span asp-validation-for="RentalEquipment.RentalDuration" class="text-danger"></span>

                <label asp-for="RentalEquipment.RentalPricePerHour" class="control-label"></label>
                <input asp-for="RentalEquipment.RentalPricePerHour" class="form-control" />
                <span asp-validation-for="RentalEquipment.RentalPricePerHour" class="text-danger"></span>

                <label asp-for="RentalEquipment.RentalPricePerDay" class="control-label"></label>
                <input asp-for="RentalEquipment.RentalPricePerDay" class="form-control" />
                <span asp-validation-for="RentalEquipment.RentalPricePerDay" class="text-danger"></span>

                <label asp-for="RentalEquipment.AvailabilityStartDate" class="control-label"></label>
                <input asp-for="RentalEquipment.AvailabilityStartDate" class="form-control" />
                <span asp-validation-for="RentalEquipment.AvailabilityStartDate" class="text-danger"></span>

                <label asp-for="RentalEquipment.AvailabilityEndDate" class="control-label"></label>
                <input asp-for="RentalEquipment.AvailabilityEndDate" class="form-control" />
                <span asp-validation-for="RentalEquipment.AvailabilityEndDate" class="text-danger"></span>

                <label asp-for="RentalEquipment.Location" class="control-label"></label>
                <input asp-for="RentalEquipment.Location" class="form-control" />
                <span asp-validation-for="RentalEquipment.Location" class="text-danger"></span>

                <label asp-for="RentalEquipment.DepositAmount" class="control-label"></label>
                <input asp-for="RentalEquipment.DepositAmount" class="form-control" />
                <span asp-validation-for="RentalEquipment.DepositAmount" class="text-danger"></span>

                <label asp-for="RentalEquipment.TermsAndCondition" class="control-label"></label>
                <input asp-for="RentalEquipment.TermsAndCondition" class="form-control" />
                <span asp-validation-for="RentalEquipment.TermsAndCondition" class="text-danger"></span>

                <input asp-for="RentalEquipment.ProductId" type="hidden" />
                @* <input asp-for="RentalEquipment.UserId" type="hidden" /> *@
                <input asp-for="RentalEquipment.IsAvailable" type="hidden" />
                @* <input asp-for="RentalEquipment.Id" type="hidden" /> *@
            </div>

            <div class="form-group mt-3 justify-content-center align-content-center d-flex gap-3">
                <input type="submit" value="Add" class="btn btn-sm btn-primary w-25  text-white" />
                <a asp-action="Index" class="btn btn-sm btn-secondary w-25 text-decoration-none gap-3"><i class="bi bi-arrow-left pe-2 back-icon"></i>Back To list</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var categoryIdSelect = document.getElementById("CategoryId");
            var rentalFields = document.getElementById("rentalFields");

            categoryIdSelect.addEventListener("change", function () {
                var selectedOption = categoryIdSelect.options[categoryIdSelect.selectedIndex].text;
                if (selectedOption === "Machinery") {
                    rentalFields.style.display = "block";
                } else {
                    rentalFields.style.display = "none";
                }
            });
        });

        function ImagePreview(event) {
            var image = URL.createObjectURL(event.target.files[0]);
            var imagePreview = document.getElementById('imagePreview');

            imagePreview.innerHTML = '';

            var newImage = document.createElement('img');
            newImage.src = image;
            newImage.width = 100;
            newImage.height = 100;
            imagePreview.appendChild(newImage);
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
