@model Kheti.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />

<div class="row d-flex justify-content-center">
    <div class="col-md-10 bg-light create-form">
        <div class="d-flex gap-md-3 align-items-center">
            <h6 class="text-success">Edit product</h6>
            <img src="~/@Model.ProductImageUrl" class="rounded-circle" height="50px" width="50px" />
        </div>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row ">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductId" />
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDescription" class="control-label"></label>
                        <input asp-for="ProductDescription" class="form-control" />
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <input asp-for="UserId" type="hidden" />
                    <div class="form-group">
                        @* <label asp-for="PrdouctImageUrl" class="control-label"></label> *@
                        <label asp-for="ProductImageUrl"></label>
                        <input type="file" name="imageFile" class="form-control" />
                    </div>

                </div>

                <div class="col-md-6">
                    @if (Model.Category.Name == "Machinery")
                    {
                        <div class="form-group">
                            <label asp-for="RentalEquipment.RentalPricePerDay" class="control-label"></label>
                            <input asp-for="RentalEquipment.RentalPricePerDay" class="form-control" />
                            <span asp-validation-for="RentalEquipment.RentalPricePerDay" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalEquipment.TermsAndCondition" class="control-label"></label>
                            <input asp-for="RentalEquipment.TermsAndCondition" class="form-control" />
                            <span asp-validation-for="RentalEquipment.TermsAndCondition" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalEquipment.AvailabilityStartDate" class="control-label"></label>
                            <input asp-for="RentalEquipment.AvailabilityStartDate" class="form-control" />
                            <span asp-validation-for="RentalEquipment.AvailabilityStartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalEquipment.AvailabilityEndDate" class="control-label"></label>
                            <input asp-for="RentalEquipment.AvailabilityEndDate" class="form-control" />
                            <span asp-validation-for="RentalEquipment.AvailabilityEndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalEquipment.Location" class="control-label"></label>
                            <input asp-for="RentalEquipment.Location" class="form-control" />
                            <span asp-validation-for="RentalEquipment.Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalEquipment.DepositAmount" class="control-label"></label>
                            <input asp-for="RentalEquipment.DepositAmount" class="form-control" />
                            <span asp-validation-for="RentalEquipment.DepositAmount" class="text-danger"></span>
                        </div>
                    }
                </div>

            </div>
            <div class="form-group mt-3 justify-content-center align-content-center d-flex gap-3">
                <input type="submit" value="Save" class="btn btn-sm w-25 btn-primary text-white" />
                <a asp-action="Index" class="btn btn-sm btn-secondary w-25 text-decoration-none gap-3"><i class="bi bi-arrow-left pe-2 back-icon"></i>Back To list</a>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
