@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="container-fluid home_page_row1 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <P class="small_grey_text_css mb-2 mt-4">Welcome to the world of Agriculture</P>
            <p class="black_text mb-0 ">
                Welcome to <span class="text-success">Organic</span> Kheti
            </p>
            <p class="green_text text-success mt-0 mb-0">Community</span></p>

            <div class="row">
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-6 extra_small_grey_text_css">
                    <p class="mt-0">
                        Reimagine farming, rewrite the future – experience the agricultural revolution
                        with Kheti
                        Where
                        technology meets agriculture to empower farmers and cultivate progress
                    </p>
                </div>
                <div class=" col-md-3"></div>
            </div>
            <button class="explore_btn btn-info">Explore Now</button>

            <!-- kheti pictures of home page section -->
            <div class="row d-flex flex-row mt-5">
                <div class="col-3">
                    <img src="~/Images/HomePage/28426.jpg" class="img-fluid" />
                </div>
                <div class="col-3">
                    <img src="~/Images/HomePage/11058559_18966447.jpg" height="300px" class="img-fluid" />
                </div>
                <div class="col-3">
                    <img src="~/Images/HomePage/6721205_3411468.jpg" height="300px" class="img-fluid" />
                </div>
                <div class="col-3">
                    <img src="~/Images/HomePage/Untitled.svg" height="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</body>