
<style>
    .privacy-content {
        font-size:smaller;
    }
</style>

<div class="container text-muted">
    @{
        ViewData["Title"] = "Privacy Policy";
    }
    <h3 class="">@ViewData["Title"]</h3>
    <div class="privacy-content">
        <p>Your privacy is important to us. It is Kheti's policy to respect your privacy regarding any information we may collect from you across our website, <a href="/">www.kheti.com</a>.

        <h6>1. Information We Collect</h6>
        <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
        <p>We may collect the following types of information:</p>
        <ul>
            <li>Contact Information: Name, email address, phone number, etc.</li>
            <li>Account Information: Username, password, security questions, etc.</li>
            <li>Payment Information: Credit card details, billing address, etc.</li>
            <li>Usage Data: Information about how you use our website, products, and services.</li>
            <li>Device Information: IP address, browser type, device type, etc.</li>
        </ul>

        <h6>2. How We Use Your Information</h6>
        <p>We use the information we collect in various ways, including:</p>
        <ul>
            <li>To provide, maintain, and improve our services.</li>
            <li>To personalize your experience and provide tailored content and recommendations.</li>
            <li>To respond to your inquiries, questions, and feedback.</li>
            <li>To process transactions and deliver products or services.</li>
            <li>To communicate with you, including sending promotional emails and newsletters.</li>
            <li>To detect, prevent, and address technical issues and security vulnerabilities.</li>
        </ul>

        <h6>3. How We Protect Your Information</h6>
        <p>We are committed to protecting your information and have implemented appropriate security measures to safeguard and secure the information we collect online.</p>
        <p>However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

        <h6>4. Your Privacy Rights</h6>
        <p>You have certain rights regarding your personal information, including the right to access, correct, or delete your information. You may also opt-out of receiving marketing communications from us.</p>
        <p>If you have any questions or concerns about your privacy, please contact us at privacy@kheti.com.</p>

        <h6>5. Changes to This Privacy Policy</h6>
        <p>We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page.</p>
        <p>You are advised to review this privacy policy periodically for any changes. Changes to this privacy policy are effective when they are posted on this page.</p>

        <h6>6. Consent</h6>
        <p>By using our website, you hereby consent to our privacy policy and agree to its terms.</p>
    </div>
</div>
