@page
@model LoginModel
@*
@{
    ViewData["Title"] = "Log in";
} *@

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<div class="container-fluid login_container d-flex gap-0 justify-content-center align-items-center h-100 mb-3">
    <div class="row justify-content-center login">
        <div class="col-lg-6 col-md-12 col-sm-12 p-0 left_section">
            <img src="~/Images/HomePage/7795297.jpg" class="img-fluid images" alt="Placeholder Image">
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 right_section" style="background-color: #fcfbfb;">
            <p class="text-black fw-bolder px-4 pt-4 mt-4 mb-0" style="font-size: x-large;">Login</p>
            <p class="text-black px-4 pt-0">Please enter credential to continue</p>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <form id="registerForm" class="container px-4 mt-5" asp-route-adminUrl="@Model.AdminUrl" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alertdialog"></div>
                    <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                        <input asp-for="Input.Password" class="form-control" aria-required="true" id=""
                               aria-describedby="" placeholder="Enter password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                   @*  <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label mb-3" for="exampleCheck1">Keep Me Logged In</label>
                    </div> *@
                    <button type="submit" class="btn btn-success w-100 mb-sm-2 mb-md-3">LOGIN</button>
                    <div class="d-flex justify-content-center mb-2">
                        <a class="text-success text-decoration-none">Forgot your password?</a>
                        <a style="color:grey" id="register" asp-area="Identity" asp-page="/Account/ForgotPassword">Reset</a>

                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="text-success text-decoration-none">Don't have an account?</a>
                        <a style="color:grey" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>

                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
