@page
@model RegisterModel
@* @{
    ViewData["Title"] = "Register";
} *@

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="container login_container d-flex gap-0 justify-content-center align-items-center h-100">
        <div class="row login">
            <div class="col-lg-6 col-md-12 col-sm-12 p-0 left_section">
                <img src="~/Images/HomePage/7795297.jpg" class="img-fluid images" alt="Placeholder Image">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 right_section" style="background-color: #fcfbfb;">
                <p class="text-black fw-bolder px-0 pt-0 mt-1 mb-0 text-center" style="font-size: x-large;">
                    CREATE AN
                    ACCOUNT
                </p>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <form id="registerForm" class="container px-4 mt-2" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.FirstName" class="form-control" aria-required="true" id=""
                                   aria-describedby="emailHelp" placeholder="Enter FirstName">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.LastName" class="form-control" aria-required="true" id=""
                                   aria-describedby="emailHelp" placeholder="Enter LastName">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.Email" class="form-control" aria-required="true" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.Password" class="form-control" aria-required="true" id=""
                                   aria-describedby="emailHelp" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" id=""
                                   aria-describedby="emailHelp" placeholder="Confirm Password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.Address" class="form-control" aria-required="true" id=""
                                   aria-describedby="emailHelp" placeholder="Address">
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 col-lg-12 col-md-12 col-sm-6">
                            <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" id=""
                                   aria-describedby="emailHelp" placeholder="Phone">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <button cid="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Create Account</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
