
body {
    font-size: smaller;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.table th {
    background-color: royalblue;
    color: white;
}


.table {
    font-size: x-small;
    border: 1px solid #dddddd;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.sidebar {
    /*border-right: 1px solid lightgrey;*/
    position: fixed;
    margin-top:10px;
    /*margin-left:5px;*/
    top: 0px;
    left: 0;
    height: 100%;
    width: 200px;
    /*background-color: #e1eeff;*/
    /*padding-top: 10px;*/
    overflow-y: hidden;
    transition: width 0.3s ease;
    padding: 8px;
}

.royalBlue{
    background-color:royalblue;
    color:white;
}

.royalBlue:hover{
    background-color:dodgerblue;
    color:white;
}

.main-content {
    margin-left: 200px;
    padding-top: 20px;
}

.header {
    position: fixed;
    top: auto;
    left: 0;
    /*width: 100%;*/
    width: 180px;
    height: 40px;
    background-color: #343a40;
    color: white;
    z-index: 10;
}

    .header a {
        font-size: smaller;
    }

.headers {
    display:flex;
    align-items:center;
    width: 200px;
}


.nav-link {
    margin: 3px 10px;
    border-radius: 0px;
    color: black;
    /*background-color: #8f71ff;*/
}

.nav-item, .nav-link {
    transition: all 0.1s ease;
    font-weight: 500;
}

    .nav-item:hover {
        background-color: #0D6EFD;
        color:white;
        border-radius: 8px;
    }

    .nav-link:hover {
        color: white;
    }

.icon {
    font-size: 20px;
    padding: 0 7px;
}

.sidebar-hidden {
    width: 0;
    /*display:none;*/
}

.show-full {
    margin-left: 0;
    width: 100%;
}

.toggles {
    z-index: 1000;
}

.logout-btn {
    margin-top: auto;
    background-color: transparent;
    padding: 10px;
}

    .logout-btn:hover {
        color: white;
    }

.logout-li {
    /*margin-top:150px;*/
}

.admin-actives {
    font-weight: bolder;
}


.search-input {
    margin: 0;
    /*background-color:white;*/
    padding: 0.4rem 1rem;
    margin-right: 0;
    border: 1px solid royalblue;
    border-radius: 5px;
}

    .search-input:hover {
    }

.search-btn {
    padding: 0.4rem 0.7rem;
    margin: 0;
}
