

input[type="number"] {
    width: 50px;
    height: 30px;
    border: 0px solid purple;
    text-align: center;
}

    input[type="number"]:hover {
        border: 1px solid #ccc;
    }

.quantity-btn {
    color: black;
    background-color: lightgrey;
    width: 80px;
    border: 0px;
    height: 50px;
    padding: 7px 10px;
    margin: 0;
}

    .quantity-btn:hover {
        background-color: #ccc;
    }

    .quantity-btn i {
        color: black;
    }

        .quantity-btn i:hover {
            color: black;
        }


.del-btn i {
    color: #ef0d0d;
}

.del-btn :hover {
    color: red;
}

.checkout-btn {
    width: 100%;
    font-size: small;
    border: 1px solid green;
    color: white;
    transition: all 0.6s ease;
    background-color: green;
}

    .checkout-btn:hover {
        background-color: white;
        color: green;
    }


.small_grey_text_css {
    font-size: large;
    margin: 0;
    color: grey;
}

.product-image {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.title {
    font-size: x-small;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row {
    font-size: 12px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/*.checkout-div {
    padding: 1rem;*/
/*border: 1px solid green;*/
/*border-radius: 8px;
}*/

@media (max-width: 720px) {
    .rows {
        font-size: 0.8rem;
    }
}
