
.signup_btn {
    color: green;
    background-color: #ffffff;
    padding: 0.3rem 1.5rem;
    border: 1px solid green;
    border-radius: 5px;
    text-decoration: none;
}

.small_grey_text_css {
    font-size: small;
    margin: 0;
    color: grey;
}

.signup_btn:hover {
    background-color: rgb(7, 123, 7);
    color: white;
}

.count {
    border: 0.5px solid green;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    width: 100px;
}


input[type="number"] {
    /* Your styling here */
    width: 15%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: green
}

.back-btn a {
    /*background-color:red;*/
    color: #007ACC;
}

.back-btn {
    /*background-color:red;*/
    color: #007ACC;
}

.back-icon {
    font-size: larger;
    width: 100px;
}

.favorite-icon {
    color:seagreen;
    border:0px;
}

.favorite-btn{
    border:0;
    background-color:white;
}

.comment-section{
    font-size:x-small;
}

.review{
    font-size:x-small;
}

.review img{
    border-radius:50%;
}

.ellps {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-card{
    height:150px;
}