
.main-div {
    border-radius:9px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}

form label{
    color:lightslategrey;
    margin-top:10px;
}

.user-image {    
    border-radius: 50%;
    height: 150px;
    width:150px;
}   

.form-group{
    margin-bottom:10px;
}

input [type = "file"]{
    color:green;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

/*input[type="text"]:valid {
    color:grey;    
}


input[type="text"]:placeholder-shown {*/
    /*border-color: red; */
/*}

.form-control{
    font-size:small;
    color:grey;
}*/