@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;    
}

.login_signup_btn {
    display: flex;
    gap: 1rem;
    margin-right: 10px;
}

.signup_btn {
    color: green;
    background-color: #ffffff;
    padding: 0.3rem 1.5rem;
    border: 1px solid green;
    border-radius: 5px;
}

    .signup_btn a {
        text-decoration: none;
    }

.login_btn {
    background-color: #099462;
    color: white;
    padding: 0.3rem 1.5rem;
    border: 1px solid green;
    border-radius: 5px;
    margin-right: 0rem;
}

    .login_btn a {
        color: white;
        text-decoration: none;
    }

/* body css */

.home_page_row1 {    
    height: 70vh;
    margin-top: 150px;
    /* margin-top: 90px; */
}

.row1 {
    background-color: #099462;
}

/* small grey text css */
.small_grey_text_css {
    font-size: small;
    margin: 0;
    color: grey;
}

/* extra-small grey text css */
.extra_small_grey_text_css {
    font-size: 12px;
    margin: 0;
    color: grey;
}

/* explore now button */
.explore_btn {
    /*background-color: #593196;*/
    background-color:#5b62f4;
/*2nd purple option*/
    /*background-color: #8b3dff;*/
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #eaf4f4;
    border-radius: 5px;
    margin-right: 1rem;
}

/* green_text */
.black_text {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.green_text {
    color: green;
    font-size: 2.8rem;
    font-weight: bold;
}
/* dc3545 */

.image-container {
    max-width: 50%;
    max-height: 20%;
}

/* media querry */
@media (max-width: 720px) {
    /* for screens below 720px */
   /* body p{
        font-size:5px;
    }*/

    .navbar-nav .nav-link {
        font-size: 14px; 
    }

    .login_signup_btn button {
        font-size: 12px;
        padding: 0.1rem 1rem;
    }
}
