* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    /*font-size:small;*/
}


.left_section {
}

.login {
    /* border-radius: 120px; */
    font-size: small;
    /*height: 100vh;*/
}

img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text-danger {
    font-size: 12px;        
}

.form-group{
    font-size:xx-large;
}

@media (max-width: 720px) {
    body {
        height: 50%;
    }

    .login { 
        height: 10vh;
    }

    img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media (min-width: 768px) {
    .images {
        height: 100% !important;
    }
}
