* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    /*font-size:small;*/
}

body {
    /* Set background image */
    height: 80vh;
    /* background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  ); */
    /* background-image: url("/pictures/tractor-field-ai-generated-image.jpg"); */
    /* Set background image properties */
    /* background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; */
}

.left_section {
}

.login {
    /* border-radius: 120px; */
    font-size: small;
    /*height: 100vh;*/
}

.login_container {
    height: 50vh;
}

img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* .img-fluid {
  max-width: 100%;
  max-height: 100%;
} */

.form-group{
    font-size:xx-large;
}

@media (max-width: 720px) {
    body {
        height: 50%;
    }

    .login {
        /* border-radius: 120px; */
        height: 10vh;
    }

    img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media (min-width: 768px) {
    .images {
        height: 100% !important;
    }
}
