/*@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");*/

* {
    font-family: "Poppins", sans-serif;
    /*font-size:smaller;*/
}

.text {
    color: #593196;
}

.small_grey_text_css {
    font-size: x-small;
    margin: 0;
    color: grey;
}

.grey_line {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 1px;
    background-color: grey; /* Red color */
    margin: 0px auto;
    margin-bottom: 10px; /* Adjust margin as needed */
}

.card {
    height: 100%; /* Set a fixed height for the card container */
    overflow: hidden;
    border: 0.1px solid grey;
}

.product-image {
    width: 245px;
    /* Set the desired width */
    height: 180px;
    /* Set the desired height */
    /* overflow: hidden; */
    /* Ensure the image is clipped to the fixed-size container */
}

    .product-image img {
        width: 100%;
        /* Fill the entire width of the container */
        height: 100%;
        /* Fill the entire height of the container */
        object-fit: fill;
        /* Maintain the aspect ratio and cover the entire container */
    }


