
.left-side {
    border: 1px solid white;
}

.right-side {
    position: relative;
    padding-bottom: 60px;
}

.message-form {
    position: absolute;
    bottom: 0;
    width: 98%;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
}

    .message-form input[type="text"] {
        width: 90%;
        margin-right: 10px;
    }

    .message-form button {
        width: 80px;
    }

.row {
    /* background-color: #f4f4f3; */
    background-color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    /* gap: 10px; */
    /* height: 600px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: white;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0px;
    height: 50px;
}


.card-body {
    background-color: #fafafa;
}

    .card-body p {
        font-size: smaller;
        color: grey;
    }

form input {
    border: 1px solid grey;
    border-radius: 7px;
    width: 100%;
}

.messages-container {
    display: flex;
    flex-direction: column;
    height: 300px;    
    overflow-y: auto;
}

.message-form {
    position: absolute;
    bottom: 0;
    width: 98%;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
}

    .message-form input[type="text"] {
        width: 90%;
        margin-right: 10px;
    }

    .message-form button {
        width: 90px;
    }   