@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/*html {
  font-size: 14px;
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-control:focus {    
    box-shadow: 0 0 0 1px green;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.purple-background {
    /*background-color: #5b62f4;*/
    background-color: #8b3dff;
    transition: background-color 0.5s ease;
}

    .purple-background:hover {
        /*background-color: #5b62f4;*/
        background-color: #4586ff;
        color: white;
    }

.purple-text {
    color: #5b62f4;    
}

.white-text {
    color: white;
    font-size:small;
    padding:0.6rem 1.5rem;
}

/*bootstrap form css*/
input[type="text"]:valid {
    color: grey;
}


input[type="text"]:placeholder-shown {
    /*border-color: red; */
}

.form-control {
    font-size: small;
    color: grey;
}

form label{
    color:lightslategrey;
}

.form-select {
    color: grey;
    font-size: small;
}

/* small grey text css */
.small_grey_text_css {
    font-size: small;    
    color: grey;
}

/* extra-small grey text css */
.extra_small_grey_text_css {
    font-size: 12px;    
    color: grey;
}   