body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    font-size: small;
    /*color:lightgrey;*/
}

input[type=text], input[type=email],td {
    color: green;
}

.container {
    /*background-color: #fff;*/
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    */
}
.rows {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-bottom: 15px;
}

p {
    color: #777;
    margin-bottom: 10px;
}

.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.order-btn {
    /*background-color: #593196;*/
    /*background-color: #009cdc;*/
    /*background-color: #378dfc;*/
    background-color: #5b62f4;
    width: 100%;
    color: white
}

.editable-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 100%;
}
    
.truncate {
    max-width: 100px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

